{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% trans 'RISChain'%}</title>
    <meta name="keywords" content="BTC,RISCChain">
    <meta name="description" content="RISC是一个面向全球的资源信息共享经济体区块链网络，一个实现真正的对等交易和共享经济的平台，RISC的宗旨是让全民参与进来共同建设共享经济 2.0">
    {% include 'common/link.html' %}
</head>
<body id=body onscroll=SetCookie("scroll",body.scrollTop); onload="scrollback();">

{% block header %}
{% include 'common/header.html' %}
{% endblock %}

{% block content %}
<div class="jumper" id="jump0"></div>
<div class="section type-1 big splash">
  <div class="container">
    <div class="splash-block">
      <div class="centered">
        <div class="container">
          <div class="section-headlines">
            <h1>Resource Information Share Chain</h1>
             <h2>分享链</h2>
            <p>{% trans '一个面向全球的资源信息分享区块链应用平台，任何人或公司都可以分享自己的资源信息需求。如：汽车、设备、住房、办公室、知识、经验、生活服务、旅行...'%}</p>
          </div>
          <a href="http://pagerhk.oss-cn-hangzhou.aliyuncs.com/pdf/rischainwhitepager.pdf" class="btn btn-outline btn-lg"> 白皮书 </a></div>
      </div>
    </div>
  </div>
</div>
<div id="jump6" class="jumper"></div>

<!-- Contact -->
 <div class="section type-1 section-contact">
  <div class="container">
      {% if request.user.is_authenticated %}
          {% if status == 0 %}
        <div class="section-headlines">
            <h4>欢迎您：{{ request.user.username }}</h4>
            <h2><button class="btn btn-lg btn-warning" id="show-info">显示个人信息</button></h2>
        </div>
              {% elif status == 1 %}
              <div class="section-headlines">
              <h4>欢迎您：{{ request.user.username }}</h4>
        <div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					账户管理
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
                <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
        <div class="alert alert-success" role="alert">为确保账户安全请及时设置资金密码！</div>
      </div>

      <!-- Table -->
      <table class="table" style="text-align: left">
        <tbody>
          <tr>
            <td>邮箱账户</td>
            <td>{% if userinfo.checkEmail == 0 %}<span class="icon-remove"></span>{% elif userinfo.checkEmail == 1 %}<span class="icon-ok"></span>{% endif %}</td>
            <td>{% if userinfo.checkEmail == 0 %}<a href="javascript:;" id="checkMail">验证邮箱</a>{% endif %}&nbsp;<a href="javascript:;" class="changep" data-toggle="modal" data-target="#changepassModal">更改密码</a></td>
          </tr>
          <tr>
            <td>资金密码</td>
            <td>{% if not userinfo.safe_password %}<span class="icon-remove"></span>{% else %}<span class="icon-ok"></span>{% endif %}</td>
            <td>{% if not userinfo.safe_password %}<a href="javascript:;" data-toggle="modal" data-target="#setpassModal">设置资金密码</a>{% else %}<a href="javascript:;" class="changesp" data-toggle="modal" data-target="#changepassModal">更改资金密码</a>{% endif %}</td>
          </tr>
          <tr>
            <td>BTC账户</td>
            <td>{% for data in btcczdz%}{{ data.addr }}{% endfor %}</td>
            <td>余额：{% for data in btcczdz%}{{ data.money }}{% endfor %}&nbsp;冻结：{% for data in btcczdz%}{{ data.frozen_num }}{% endfor %}</td>
          </tr>
          <tr>
            <td>ETH账户</td>
            <td>{% for data in ethczdz%}{{ data.addr }}{% endfor %}</td>
            <td>余额：{% for data in ethczdz%}{{ data.money }}{% endfor %}&nbsp;冻结：{% for data in ethczdz%}{{ data.frozen_num }}{% endfor %}</td>
          </tr>
          <tr>
            <td>RIS账户</td>
            <td>暂未开放</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseThree">
					资金充值
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
                <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
        <div class="alert alert-success" role="alert">BTC充值地址：{% for data in btcczdz%}{{ data.addr }}{% endfor %}</div>
      <div class="alert alert-success" role="alert">ETH充值地址：{% for data in ethczdz%}{{ data.addr }}{% endfor %}</div>
      </div>
        <div class="panel-heading">充值记录</div>
        {% if czList %}
      <!-- Table -->
      <table class="table" style="text-align: left">
        <thead>
          <tr>
            <th>充值地址</th>
            <th>充值金额</th>
            <th>更新时间</th>
            <th>充值状态</th>
          </tr>
        </thead>
        <tbody>
        {% for data in czList%}
            <tr>
            <td>{{ data.addr }}</td>
            <td>{{ data.money }}</td>
            <td>{{ data.create_time }}</td>
            <td>{% if data.status == 1 %}充值成功{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            {% else %}
            暂无记录
            {% endif %}
    </div>
  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseFour">
					资金提现
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
      <div class="alert alert-success" role="alert">
          {% if userinfo.checkEmail != 0  and userinfo.safe_password %}
            <a href="javascript:;" data-toggle="modal" data-target="#addressModal">添加新币址</a>
          {% else %}
            请先验证邮箱和设置资金密码
          {% endif %}
      </div>
      <table class="table" style="text-align: left" id="tbdz-table">
        <thead>
          <tr>
            <th>备注名称</th>
            <th>提币地址</th>
            <th>币种类型</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for dz in tbdzList%}
            <tr>
            <td>{{ dz.remark }}</td>
            <td>{{ dz.addr }}</td>
            <td>{% if dz.type == 1 %}BTC{% elif dz.type == 2 %}ETH{% elif dz.type == 3 %}RIS{% endif %}</td>
            <td><a href="javascript:;" id="tb" data-toggle="modal" data-target="#tbModal">提币</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
        <div class="panel-heading">提现记录</div>
        {% if tbList %}
      <!-- Table -->
      <table class="table" style="text-align: left">
        <thead>
          <tr>
            <th>提现时间</th>
            <th>提现金额</th>
            <th>网络手续费</th>
            <th>提现地址</th>
            <th>提现状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for data in tbList%}
            <tr>
            <td>{{ data.create_time }}</td>
            <td>{{ data.money }}</td>
            <td>{{ data.fee }}</td>
            <td>{{ data.addr }}</td>
            <td>{% if data.status == 1 %}提币成功{% elif data.status == 0 %}审核中{% elif data.status == 2 %}已取消{% endif %}</td>
            <td><input type="hidden" value="{{ data.id }}" id="ids">{% if data.status == 0 %}<a href="/canceltibi/{{ data.id }}/" class="cancel-tb">取消</a>{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            {% else %}
            暂无记录
            {% endif %}
    </div>
  </div>
			</div>
		</div>
	</div>
    <div class="panel panel-danger">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseFive">
					ICO记录
				</a>
			</h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">ICO记录</div>
        {% if tbList %}
      <!-- Table -->
      <table class="table" style="text-align: left">
        <thead>
          <tr>
            <th>参与时间</th>
            <th>阶段</th>
            <th>参与币种</th>
            <th>参与数量</th>
            <th>RIS数量</th>
            <th>已发放</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
        {% for data in icoList%}
            <tr>
            <td>{{ data.create_time }}</td>
            <td>{% if data.type == 1 %}私募{% elif data.type == 2 %}ICO锁定{% elif data.type == 3 %}公开ICO{% endif %}</td>
            <td>{% if data.coin_type == 1 %}BTC{% elif data.coin_type == 2 %}ETH{% endif %}</td>
            <td>{{ data.money }}</td>
            <td>{{ data.ris }}</td>
            <td>{{ data.ok_ris }}</td>
            <td>{% if data.status == 1 %}成功(RIS待解冻){% elif data.status == 2 %}成功(RIS解冻1/3){% elif data.status == 3 %}成功(RIS解冻2/3){% elif data.status == 4 %}成功(RIS解冻100%){% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            {% else %}
            暂无记录
            {% endif %}
    </div>
  </div>
			</div>
		</div>
	</div>
</div>
        </div>
            {% endif %}
      {% else %}
    <div class="section-headlines">
      <h4>
          <input type="hidden" id="join-status" value="1">
       加入分享链
      </h4>

    </div>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-4">
    <div id="login-div">
        <form id="login-form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="user" name="username" placeholder="Your email *">
            <br class="gap-15"/>
            <input type="password" class="form-control" id="pass" name="password" placeholder="Your Password *">
              <br class="gap-15"/>
              <button type="button" id="loginBtn" class="btn btn-block btn-success">Login </button>
              <br class="gap-15"/>
              <a id="change" href="javascript:;">还没账号？点击注册</a>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div id="signup-div" style="display: none;">
        <form id="signup-form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="email" name="username" placeholder="Your email *">
            <br class="gap-15"/>
            <input type="password" class="form-control" id="pass1" name="password1" placeholder="Your Password *">
              <br class="gap-15"/>
            <input type="password" class="form-control" id="pass2" name="password2" placeholder="Repeat Your Password *">
              <br class="gap-15"/>
              <button type="button" id="signupBtn" class="btn btn-block btn-success">Signup </button>
              <br class="gap-15"/>
              <a id="change2" href="javascript:;">已经有账号？点击登录</a>
          </div>
        </div>
      </div>
    </form>
    </div>
	<div id="success">Your message has been successfully!</div>
	<div id="error">Unable to send your message, please try later.</div>
  </div>
</div>
        {% endif %}
</div>
</div>

<div id="jump1" class="jumper"></div>
<!-- Services -->
<div class="section type-2">
  <div class="container">
    <div class="section-headlines">
      <h4>RISC能做什么？</h4>
      <div>基于区块链技术去中心化，安全可信任的资源信息分享平台，将会是共享经济 2.0，RISC是一个实现真正的对等交易和共享经济的平台</div>
    </div>
    <div class="row">
      <div class="col-lg-6 features text-center"> <img src="{% static 'images/pic3-450x410.png' %}" alt="" /> </div>
      <div class="col-lg-6 features">
        <div class="media"> <i class=" icon-search pull-left animated bounce"></i>
          <div class="media-body">
            <h3>更快速的匹配到自己理想的工作</h3>
            <div>您的求职信息不再局限于一个中心平台，而是全球互联网！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-user pull-left animated bounce"></i>
          <div class="media-body">
            <h3>网约车司机能赚取更多的利润</h3>
            <div>没有了中间服务平台，用户直接和您参与交易！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-plane pull-left animated bounce"></i>
          <div class="media-body">
            <h3>出国留学将会是非常普遍的事情</h3>
            <div>直接参与全球资源信息匹配，节省了第三方机构的服务费！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-globe pull-left animated bounce"></i>
          <div class="media-body">
            <h3>项目寻求合作将变得非常广阔</h3>
            <div>您的项目可以在全球匹配和您志同道合的朋友参与到项目！</div>
          </div>
        </div>
        <div class="visible-xs visible-sm"> <br class="gap-30" />
          <hr class="gap-divider" />
          <br class="gap-30" />
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-4 features">
        <h3>去中心化后的资源分配方式</h3>
        <p>传统的中间化机构平台，往往数据不是完全公开透明的、且资源被操控的可能性增加，直接导致用户的利益受损，没有得到最好的资源分配。</p>
        <p>RISC区块链服务允许个人之间直接互联、分享和交易，省去了大量的中间机构服务环节。让资源信息供与求双方直接“对话”，进入真正的分享经济。</p>
      </div>
      <div class="col-lg-4 features">
        <h3>结合人工智能，打造去中心化的自治组织</h3>
        <p>如何处理如此庞大的分享信息，由谁来负责处理，大数据是人工智能的基础，人工智能将为分享资源信息匹配提供最优质方案。</p>
        <p>人工智能可以对大量的分享信息进行大数据分析，并根据用户之间的个人信息，行为，习惯等等，进行友好的资源分配。</p>
      </div>
      <div class="col-lg-4 features">
        <h3>如何验证资源信息的安全有效性</h3>
        <p>资源信息的有效性，直接影响到了需求用户的体验。为此必须保证参与进来的每个用户都是真实可靠、可信任的用户。</p>
        <p>基于区块链用户实名机制，认证数据具有唯一性，不可篡改。加上去中心化的共识机制，将为用户进行信用评级，而让需求用户根据资源信息拥有者的评级进行选择。</p>
      </div>
    </div>
  </div>
</div>

<div id="jump2" class="jumper"></div>
<!-- Featured Work -->
<div class="section type-1" style="padding-bottom: 0">
  <div class="container">
    <div class="section-headlines">
      <h4>代币分配方案</h4>

      <div>
      <div class="col-lg-4 features text-center">
            <canvas id="chart-area" style="width: 100%"></canvas>
      </div>
          <div class="col-lg-2">

          </div>
      <div class="col-lg-6" style="text-align: left">
          <h2>代币介绍</h2>
          <p>RISC项目的代币名称是（RIS），代币总量1亿</p>
          <p>RIS代币的作用：资源信息分享链的代币，可想而知，它将作为各种资源信息交易之间的信任代币。</p>
          <p>RIS代币的分配：如下</p>

          <table class="table" style="text-align: left" id="tbdz-table">
        <thead>
          <tr>
            <th>分配方案</th>
            <th>比例</th>
            <th>数量(RIS)</th>
            <th>说明</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>分享币公开售卖</td>
            <td>45%</td>
            <td>45,000,000</td>
            <td>公开售卖获得的BTC/ETH将用于分享链的开发、运营、市场、财务、等方面</td>
          </tr>
        <tr>
            <td>私募投资人</td>
            <td>8%</td>
            <td>8,000,000</td>
            <td>早期对分享链提供资金和技术支持的投资人和公司，我们予以分享币作为回报</td>
          </tr>
        <tr>
            <td>商业落地及市场拓展</td>
            <td>10%</td>
            <td>10,000,000</td>
            <td>用于分享链的商业落地和战略合作，以及分享经济方面的战略部署</td>
          </tr>
        <tr>
            <td>挖矿</td>
            <td>32%</td>
            <td>32,000,000</td>
            <td>分享链正式上线后，将开放挖矿，用于构建一个开放性的公链，挖矿难度4年减半，区块奖励60RIS/块</td>
          </tr>
        <tr>
            <td>研发团队基金</td>
            <td>5%</td>
            <td>5,000,000</td>
            <td>为激励研发团队而设立的基金，为团队更好的把精力放在技术开发上</td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="jump3" class="jumper"></div>
<!-- Pricing -->
<div class="section type-3">
  <div class="container">
    <div class="section-headlines">
      <h4>项目团队</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/44.png' %}"></div>
          <div class="team_body">
            <h5>吴资龙</h5>
            <h6>分享链团队总监</h6>
            <p>曾担任腾讯技术总监，毕业于四川大学。比特币早期投资人，2011年开始研究区块链技术并发表多篇论文。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/22.png' %}"></div>
          <div class="team_body">
            <h5>吕聪</h5>
            <h6>工程师</h6>
            <p>复旦大学计算机专业，对区块链技术有浓厚的兴趣，对人工智能深度学习有深入的研究。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/33.png' %}"></div>
          <div class="team_body">
            <h5>蒋波</h5>
            <h6>架构师</h6>
            <p>曾任联想集团系统架构师，精通C++、JAVA、Python、Go语言、Ruby,2014年开始研究区块链技术。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/11.png' %}"></div>
          <div class="team_body">
            <h5>刘东</h5>
            <h6>市场总监</h6>
            <p>毕业于湖南经济学院，曾任职多家大公司市场部总监职务。以太坊的ICO投资者，对分享经济有独到的见解。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/55.png' %}"></div>
          <div class="team_body">
            <h4>Robert D</h4>
            <h6>工程师</h6>
            <p>曾担任Google全球技术总监，哈佛大学毕业。2012年开始研究比特币。曾为美国多家公司开发区块链网络应用。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/66.png' %}"></div>
          <div class="team_body">
            <h4>Schoenberg</h4>
            <h6>工程师</h6>
            <p>毕业于斯坦福大学，曾获奖GeekPwn 2015极客大赛，2015年开始研究区块链网络，并在多家公司担任网络安全顾问。</p>
          </div>
        </div>
      </div>
    </div>
    <!--end:.row-->
  </div>
  <!--end:.container-->
</div>


<div id="jump4" class="jumper"></div>

<!-- Team -->
<div class="section type-2">
  <div class="container">
    <div class="section-headlines">
      <h4>FAQ</h4>
    </div>
    <div class="pricing-plans row">
        <p>Q：什么是RISC？</p>
        <p>A：RISC(Resource Information Share Chain)是一个面向全球的资源信息分享区块链应用平台，任何人或公司都可以分享自己的资源信息需求。如：汽车、设备、住房、办公室、知识、经验、生活服务、旅行...，一个实现真正的对等交易和共享经济的平台，RISC的宗旨是让全民参与进来共同建设共享经济 2.0</p>
        </br>
        <p>Q：什么是ICO？</p>
        <p>A：ICO（英文简称Initial Coin Offering）是一种为加密数字货币/区块链项目筹措资金的常用方式，早期参与者可以从中获得初始产生的加密数字货币作为回报。ico是国际上加密数字货币/区块链社区的产物，为区块链的开发者筹措足够的运营资金，大部分ico筹措的资金都是比特币或者其他加密数字货币。</p>
        </br>
        <p>Q：什么是RIS？</p>
        <p>A：RIS是分享链上的代币。总量为1亿，ICO公开发售45%。</p>
        </br>
        <p>Q：RIS代币有什么用途？</p>
        <p>A：RIS将在分享链平台中流通，用做交易支付、信用担保、跨国转账，没有任何手续费。</p>
        </br>
        <p>Q：RIS什么时候开始公开发售？</p>
        <p>A：RIS代币ICO公开发售预计在9月1号开始，具体以官网公告为准。在正式公开ICO之前7天，官网会提前开放ICO限额预售功能，目的是为了防止少数大户垄断行为，让更多的人公平的参与进来。</p>
        </br>
        <p>Q：ICO募集的资金将用于哪些范围？</p>
        <p>A：RISC资源信息分享链网络的开发、分享经济项目的落地推广、海外业务的拓展与开发团队扩增，以及相关运营、法律、方案设计。</p></p>
        </br>

    </div>
    <!--end:.pricing-table-->

  </div>
</div>

<div id="jump5" class="jumper"></div>
<!-- Testimonials -->
<div class="section type-1">
<div class="demo">
		<div class="container">
            <div class="section-headlines">
            <h4>ICO时间线</h4>
        </div>
		<div class="row">
		    <div class="col-md-12">
			    <div class="main-timeline">
				    <div class="timeline">
                        <input type="hidden" id="checkLogin" value="{% if request.user.is_authenticated %}1{% else %}0{% endif %}">
					    <div class="timeline-content">
							<span class="date">
									<span class="day">28日</span>
									<span class="month">8月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">
                                私募阶段
                                <div style="float: right">
                                 {% for c in icoConfig %}
                                    {% if c.id == 1 %}
                                        {% if c.isOpen %}
                                            {% if c.icoCount >= c.risCount %}
                                                <a href="javascript:;" style="color: white;">已完成</a>
                                            {% else %}
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step1-btc" data-toggle="modal" data-target="#icoModal">BTC支持</a>&nbsp;
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step1-eth" data-toggle="modal" data-target="#icoModal">ETH支持</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="javascript:;" style="color: white;">未开放</a>
                                        {% endif %}
                                    {% endif %}
                                 {% endfor %}
                                </div>
                            </h2>
							<p class="description">
                                开始时间：2017-8-28 12:00:00<br>
                                截止时间：2017-9-1  12:00:00<br>
                                目标额度：300BTC<br>
                                限额大小：BTC(1-20)/ETH(10-200)<br>
                                兑换比例：1BTC(40000RIS) / 1ETH(3200RIS)<br>
                                支持人数：{% for list in rateList %}{% if list.id == 1 %}{{ list.count }}{% endif %}{% endfor %}<br>
                            </p>
						</div>
					</div>

				    <div class="timeline">
					    <div class="timeline-content">
						    <span class="date">
									<span class="day">1日</span>
									<span class="month">9月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">ICO提前锁定阶段
                                <div style="float: right">
                                {% for c in icoConfig %}
                                    {% if c.id == 2 %}
                                        {% if c.isOpen %}
                                            {% if c.icoCount >= c.risCount %}
                                                <a href="javascript:;" style="color: white;">已完成</a>
                                            {% else %}
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step2-btc" data-toggle="modal" data-target="#icoModal">BTC支持</a>&nbsp;
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step2-eth" data-toggle="modal" data-target="#icoModal">ETH支持</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="javascript:;" style="color: white;">未开放</a>
                                        {% endif %}
                                    {% endif %}
                                 {% endfor %}
                                </div>
                            </h2>
							<p class="description">
                                开始时间：2017-9-1 12:00:00<br>
                                截止时间：2017-9-5  12:00:00<br>
                                限额大小：BTC(0.1-20)/ETH(1-200)<br>
                                兑换比例：1BTC(28730RIS) / 1ETH(2300RIS)<br>
                                支持人数：{% for list in rateList %}{% if list.id == 2 %}{{ list.count }}{% endif %}{% endfor %}<br>
                            </p>
						</div>
					</div>

                    <div class="timeline">
					    <div class="timeline-content">
						    <span class="date">
									<span class="day">1日</span>
									<span class="month">9月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">公开ICO阶段
                                <div style="float: right">
                                {% for c in icoConfig %}
                                    {% if c.id == 2 %}
                                        {% if c.isOpen %}
                                            {% if c.icoCount >= c.risCount %}
                                                <a href="javascript:;" style="color: white;">已完成</a>
                                            {% else %}
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step3-btc" data-toggle="modal" data-target="#icoModal">BTC支持</a>&nbsp;
                                                <a href="javascript:;" style="color: white;" name="ico-lock" id="step3-eth" data-toggle="modal" data-target="#icoModal">ETH支持</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="javascript:;" style="color: white;">未开放</a>
                                        {% endif %}
                                    {% endif %}
                                 {% endfor %}
                                </div>
                            </h2>
							<p class="description">
                                开始时间：2017-9-5 12:00:00<br>
                                截止时间：2017-9-30  12:00:00<br>
                                目标额度：1100BTC<br>
                                限额大小：BTC(0.1-20)/ETH(1-200)<br>
                                兑换比例：1BTC(22530RIS) / 1ETH(1818RIS)<br>
                                支持人数：{% for list in rateList %}{% if list.id == 2 %}{{ list.count }}{% endif %}{% endfor %}<br>
                            </p>
                            <div class="progress" style="margin-top: 5px">
                              {% for list in rateList %}
                                {% if list.id == 2   %}
                                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ list.rate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ list.rate }}%;">
                                    {{ list.rate }}%
                                  </div>
                                {% endif %}
                            {% endfor %}
                            </div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		</div>
	</div>

</div>

<div class="section type-1">
  <div class="demo">
      <div class="container">
            <div class="section-headlines">
            <h4>分享链发展历程</h4>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-timeline">
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">12日</span>
									<span class="month">5月</span>
									<span class="year">2017</span>
								</span>
                                <h2 class="title">项目团队成立</h2>
								<p class="description">2017年5月12号，项目团队成立，开始构想分享链架构。</p>
							</div>
						</div>

                        <div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">初</span>
									<span class="month">6月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">市场调研</h2>
								<p class="description">2017年6月-7月，项目团队对分享经济市场进行调研，并与分享经济行业滴滴、摩拜、新环境房屋、知乎等公司进行探讨合作。</p>
							</div>
						</div>

						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">25日</span>
									<span class="month">8月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">分享链进入私募阶段</h2>
								<p class="description">2017年8月25日，分享链进入私募阶段。</p>
							</div>
						</div>

                        <div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">28日</span>
									<span class="month">8月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">ICO提前锁定阶段</h2>
								<p class="description">2017年8月28日，分享链进入ICO提前锁定阶段。</p>
							</div>
						</div>

						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">1日</span>
									<span class="month">9月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">公开ICO</h2>
								<p class="description">2017年9月1日，分享链开始进行公开ICO。</p>
							</div>
						</div>

						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">30日</span>
									<span class="month">9月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">公开ICO结束</h2>
								<p class="description">2017年9月30日，分享链公开ICO介绍，之后将在官网进行RIS代币分配。</p>
							</div>
						</div>

                        <div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">中旬</span>
									<span class="month">10月</span>
									<span class="year">2017</span>
								</span>
								<h2 class="title">RIS代币上交易平台</h2>
								<p class="description">2017年10月中旬，RIS代币将上国内交易平台，官网将开放提币功能。</p>
							</div>
						</div>

                        <div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<span class="day">初</span>
									<span class="month">5月</span>
									<span class="year">2018</span>
								</span>
                                <h2 class="title">成立海外团队</h2>
								<p class="description">分享链团队将成立海外团队，将分享链业务拓展到全球范围。</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <!-- Subscription -->
<div id="jump7" class="jumper"></div>

<!-- Team -->
<div class="section type-2">
  <div class="container">
    <div class="section-headlines">
      <h4>合作伙伴</h4>
    </div>
    <div class="pricing-plans row">
        <div class="col-lg-3">
        <img src="{% static 'images/hzhb1.png' %}">
        </div>
        <div class="col-lg-3">
        <img src="{% static 'images/hzhb2.png' %}">
        </div>
        <div class="col-lg-3">
        <img src="{% static 'images/hzhb3.png' %}">
        </div>
        <div class="col-lg-3">
        <img src="{% static 'images/hzhb4.png' %}">
        </div>
    </div>
    <!--end:.pricing-table-->

  </div>
</div>

<div id="jump6" class="jumper"></div>

<!-- Contact -->
 <div class="section type-1 section-contact">
  <div class="container">
    <div class="section-headlines">
      <h4>
      联系我们
      </h4>
    </div>

    <div class="row">
    <div class="col-lg-7 col-lg-offset-3">
    <form id="contac-form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="contact-name" name="name" placeholder="您的名称 *">
            <br class="gap-15"/>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="contact-email" name="email" placeholder="您的邮箱 *">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="contact-subject" name="subject" placeholder="标题 *">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="contact-message" name="message" rows="8"></textarea>
      </div>
      <button type="button" id="contact-send" class="btn btn-block btn-success">发送消息 </button>
    </form>

  </div>
</div>
  </div>
 </div>

<section class="section type-4 email-susbscription">

  <div class="container" style="text-align: center">
    <div class="row">
    <div class="col-lg-4">
    	<img src="{% static 'images/qqq.jpg' %}" style="width: 40%">
        <p>官方1群：635902703</p>
    </div>
    <div class="col-lg-4">
    	<img src="{% static 'images/wechat.jpg' %}" style="width: 40%">
        <p>官方微信</p>
    </div>
        <div class="col-lg-4" style="text-align: left">
        <p>商务合作：business@rischain.com</p>
        <p>客户支持：support@rischain.com</p>
        <p>加入团队：team@rischain.com</p>
    </div>

    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
{% include 'common/footer.html' %}
{% endblock %}
</body>
</html>