{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% trans 'RISEChain'%}</title>
    <meta name="keywords" content="BTC,RISEChain">
    <meta name="description" content="RISE是一个面向全球的资源信息共享经济体区块链网络，一个实现真正的对等交易和共享经济的平台，RISE的宗旨是让全民参与进来共同建设共享经济 2.0">
    {% include 'common/link.html' %}
</head>
<body id=body onscroll=SetCookie("scroll",body.scrollTop); onload="scrollback();">

{% block header %}
{% include 'common/header.html' %}
{% endblock %}

{% block content %}
<div class="jumper" id="jump0"></div>
<div class="section type-1 big splash">
  <div class="container">
    <div class="splash-block">
      <div class="centered">
        <div class="container">
          <div class="section-headlines">
            <h1>Resource Information Shared Economy</h1>
            <p>{% trans '一个面向全球的资源信息共享经济体和区块链应用平台，任何人或公司都可以共享自己的资源信息需求。如：教育、新闻、房产、留学、出行、电影、能源...'%}</p>
            <p>{% trans '在这里只有两种人:资源信息拥有者、需求者'%}</p>
          </div>
          <a href="#jump2" class="btn btn-outline btn-lg"> 白皮书 </a></div>
      </div>
    </div>
  </div>
</div>
<div id="jump6" class="jumper"></div>

<!-- Contact -->
 <div class="section type-1 section-contact">
  <div class="container">
      {% if request.user.is_authenticated %}
          {% if status == 0 %}
        <div class="section-headlines">
            <h4>欢迎您：{{ request.user.username }}</h4>
            <h2><button class="btn btn-lg btn-warning" id="show-info">显示个人信息</button></h2>
        </div>
              {% elif status == 1 %}
              <div class="section-headlines">
              <h4>欢迎您：{{ request.user.username }}</h4>
        <div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					账户管理
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
                <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
        <div class="alert alert-success" role="alert">为确保账户安全请及时设置资金密码！</div>
      </div>

      <!-- Table -->
      <table class="table" style="text-align: left">
        <tbody>
          <tr>
            <td>邮箱账户</td>
            <td>{% if userinfo.checkEmail == 0 %}<span class="icon-remove"></span>{% elif userinfo.checkEmail == 1 %}<span class="icon-ok"></span>{% endif %}</td>
            <td>{% if userinfo.checkEmail == 0 %}<a href="javascript:;" id="checkMail">验证邮箱</a>{% endif %}&nbsp;<a href="javascript:;" class="changep" data-toggle="modal" data-target="#changepassModal">更改密码</a></td>
          </tr>
          <tr>
            <td>资金密码</td>
            <td>{% if not userinfo.safe_password %}<span class="icon-remove"></span>{% else %}<span class="icon-ok"></span>{% endif %}</td>
            <td>{% if not userinfo.safe_password %}<a href="javascript:;" data-toggle="modal" data-target="#setpassModal">设置资金密码</a>{% else %}<a href="javascript:;" class="changesp" data-toggle="modal" data-target="#changepassModal">更改资金密码</a>{% endif %}</td>
          </tr>
          <tr>
            <td>BTC账户</td>
            <td>{% for data in czdz%}{{ data.addr }}{% endfor %}</td>
            <td>余额：{% for data in czdz%}{{ data.money }}{% endfor %}&nbsp;冻结：{% for data in czdz%}{{ data.frozen_num }}{% endfor %}</td>
          </tr>
          <tr>
            <td>ETH账户</td>
            <td>{% for data in czdz%}{{ data.addr }}{% endfor %}</td>
            <td>余额：{% for data in czdz%}{{ data.money }}{% endfor %}&nbsp;冻结：{% for data in czdz%}{{ data.frozen_num }}{% endfor %}</td>
          </tr>
          <tr>
            <td>SEC账户</td>
            <td>暂未开放</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseThree">
					资金充值
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
                <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
        <div class="alert alert-success" role="alert">BTC充值地址：{% for data in czdz%}{{ data.addr }}{% endfor %}</div>
        <div class="alert alert-info" role="alert">ETH充值地址：{% for data in czdz%}{{ data.addr }}{% endfor %}</div>
      </div>
        <div class="panel-heading">充值记录</div>
        {% if czList %}
      <!-- Table -->
      <table class="table" style="text-align: left">
        <thead>
          <tr>
            <th>充值地址</th>
            <th>充值金额</th>
            <th>更新时间</th>
            <th>充值状态</th>
          </tr>
        </thead>
        <tbody>
        {% for data in czList%}
            <tr>
            <td>{{ data.addr }}</td>
            <td>{{ data.money }}</td>
            <td>{{ data.create_time }}</td>
            <td>{% if data.status == 1 %}充值成功{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            {% else %}
            暂无记录
            {% endif %}
    </div>
  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseFour">
					资金提现
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
      <div class="alert alert-success" role="alert">
          {% if userinfo.checkEmail != 0  and userinfo.safe_password %}
            <a href="javascript:;" data-toggle="modal" data-target="#addressModal">添加新币址</a>
          {% else %}
            请先验证邮箱和设置资金密码
          {% endif %}
      </div>
      <table class="table" style="text-align: left" id="tbdz-table">
        <thead>
          <tr>
            <th>备注名称</th>
            <th>提币地址</th>
            <th>币种类型</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for dz in tbdzList%}
            <tr>
            <td>{{ dz.remark }}</td>
            <td>{{ dz.addr }}</td>
            <td>{% if dz.type == 1 %}BTC{% elif dz.type == 2 %}ETH{% elif dz.type == 3 %}SEC{% endif %}</td>
            <td><a href="javascript:;" id="tb" data-toggle="modal" data-target="#tbModal">提币</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
        <div class="panel-heading">提现记录</div>
        {% if tbList %}
      <!-- Table -->
      <table class="table" style="text-align: left">
        <thead>
          <tr>
            <th>提现时间</th>
            <th>提现金额</th>
            <th>网络手续费</th>
            <th>提现地址</th>
            <th>提现状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for data in tbList%}
            <tr>
            <td>{{ data.create_time }}</td>
            <td>{{ data.money }}</td>
            <td>{{ data.fee }}</td>
            <td>{{ data.addr }}</td>
            <td>{% if data.status == 1 %}提币成功{% elif data.status == 0 %}审核中{% elif data.status == 2 %}已取消{% endif %}</td>
            <td><input type="hidden" value="{{ data.id }}" id="ids">{% if data.status == 0 %}<a href="/canceltibi/{{ data.id }}/" class="cancel-tb">取消</a>{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            {% else %}
            暂无记录
            {% endif %}
    </div>
  </div>
			</div>
		</div>
	</div>
</div>
        </div>
            {% endif %}
      {% else %}
    <div class="section-headlines">
      <h4>
          <input type="hidden" id="join-status" value="1">
      <a href="javascript:;" id="join-us" class="btn btn-outline btn-lg"> 加入共享经济体 </a>
      </h4>
      <h2>让我们一起建设共享经济2.0</h2>
    </div>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-4">
    <div id="login-div" style="display: none;">
        <form id="login-form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" name="username" placeholder="Your email *">
            <br class="gap-15"/>
            <input type="password" class="form-control" id="pass" name="password" placeholder="Your Password *">
              <br class="gap-15"/>
              <button type="button" id="loginBtn" class="btn btn-block btn-success">Login </button>
              <br class="gap-15"/>
              <a id="change" href="javascript:;">还没账号？点击注册</a>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div id="signup-div" style="display: none;">
        <form id="signup-form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="email" name="username" placeholder="Your email *">
            <br class="gap-15"/>
            <input type="password" class="form-control" id="pass1" name="password1" placeholder="Your Password *">
              <br class="gap-15"/>
            <input type="password" class="form-control" id="pass2" name="password2" placeholder="Repeat Your Password *">
              <br class="gap-15"/>
              <button type="button" id="signupBtn" class="btn btn-block btn-success">Signup </button>
              <br class="gap-15"/>
              <a id="change2" href="javascript:;">已经有账号？点击登录</a>
          </div>
        </div>
      </div>
    </form>
    </div>
	<div id="success">Your message has been successfully!</div>
	<div id="error">Unable to send your message, please try later.</div>
  </div>
</div>
        {% endif %}
</div>
</div>

<div id="jump1" class="jumper"></div>
<!-- Services -->
<div class="section type-2">
  <div class="container">
    <div class="section-headlines">
      <h4>RISE能做什么？</h4>
      <div>基于区块链技术去中心化，安全可信任的资源信息共享平台，将会是共享经济 2.0，RISE是一个实现真正的对等交易和共享经济的平台</div>
    </div>
    <div class="row">
      <div class="col-lg-6 features text-center"> <img src="{% static 'images/pic3-450x410.png' %}" alt="" /> </div>
      <div class="col-lg-6 features">
        <div class="media"> <i class=" icon-search pull-left animated bounce"></i>
          <div class="media-body">
            <h3>更快速的匹配到自己理想的工作</h3>
            <div>您的求职信息不再局限于一个中心平台，而是全球互联网！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-user pull-left animated bounce"></i>
          <div class="media-body">
            <h3>网约车司机能赚取更多的利润</h3>
            <div>没有了中间服务平台，用户直接和您参与交易！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-plane pull-left animated bounce"></i>
          <div class="media-body">
            <h3>出国留学将会是非常普遍的事情</h3>
            <div>直接参与全球资源信息匹配，节省了第三方机构的服务费！</div>
          </div>
        </div>
        <br class="gap-30" />
        <div class="media"> <i class=" icon-globe pull-left animated bounce"></i>
          <div class="media-body">
            <h3>项目寻求合作将变得非常广阔</h3>
            <div>您的项目可以在全球匹配和您志同道合的朋友参与到项目！</div>
          </div>
        </div>
        <div class="visible-xs visible-sm"> <br class="gap-30" />
          <hr class="gap-divider" />
          <br class="gap-30" />
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-4 features">
        <h3>去中心化后的资源分配方式</h3>
        <p>传统的中间化机构平台，往往数据不是完全公开透明的、且资源被操控的可能性增加，直接导致用户的利益受损，没有得到最好的资源分配。</p>
        <p>RISE区块链服务允许个人之间直接互联、共享和交易，省去了大量的中间机构服务环节。让资源信息供与求双方直接“对话”，进入真正的共享经济。</p>
      </div>
      <div class="col-lg-4 features">
        <h3>结合人工智能，打造去中心化的自治组织</h3>
        <p>如何处理如此庞大的共享信息，由谁来负责处理，大数据是人工智能的基础，人工智能将为共享资源信息匹配提供最优质方案。</p>
        <p>人工智能可以对大量的共享信息进行大数据分析，并根据用户之间的个人信息，行为，习惯等等，进行友好的资源分配。</p>
      </div>
      <div class="col-lg-4 features">
        <h3>如何验证资源信息的安全有效性</h3>
        <p>资源信息的有效性，直接影响到了需求用户的体验。为此必须保证参与进来的每个用户都是真实可靠、可信任的用户。</p>
        <p>基于区块链用户实名机制，认证数据具有唯一性，不可篡改。加上去中心化的共识机制，将为用户进行信用评级，而让需求用户根据资源信息拥有者的评级进行选择。</p>
      </div>
    </div>
  </div>
</div>

<div id="jump2" class="jumper"></div>
<!-- Featured Work -->
<div class="section type-1" style="padding-bottom: 0">
  <div class="container">
    <div class="section-headlines">
      <h4>代币分配</h4>

      <div>
      <div class="col-lg-4 features text-center">
            <canvas id="chart-area" style="width: 100%"></canvas>
      </div>
          <div class="col-lg-2">

          </div>
      <div class="col-lg-6" style="text-align: left">
          <h2>代币介绍</h2>
          <p>RISE项目的代币名称是（SEC），代币总量10亿</p>
          <p>SEC代币的作用：资源信息共享平台的代币，可想而知，它将作为各种资源信息交易之间的信任代币。</p>
          <p>SEC代币的分配：如下</p>
          <p>50%用于ICO，用于开发、资源信息共享平台的落地应用。</p>
          <p>20%用于创始开发团队产品的研发，团队的拓展。</p>
          <p>10%用于私募投资人。</p>
          <p>5%用于市场推广。</p>
          <p>15%用于Pos锁仓奖励。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Stats  -->
<div class="section type-3 stats">
<div class="section-headlines">
      <h4>Fun Stats</h4>
    </div>
    <div class="container">  <div class="row ">

      <div class="col-sm-4 col-xs-12">
        <h3><i class="icon-anchor"></i> 17 Awards</h3>
        <p> Lorem ipsum dolor sit amet enim. Etiam
          ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. </p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h3><i class="icon-coffee"></i> 13.OOO Cups</h3>
        <p> Lorem ipsum dolor sit amet enim. Etiam
          ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. </p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h3><i class=" icon-beaker"></i> Creative Ideas</h3>
        <p> Lorem ipsum dolor sit amet enim. Etiam
          ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. </p>
      </div>
    </div>
  </div>
</div>

<div id="jump3" class="jumper"></div>
<!-- Pricing -->
<div class="section type-3">
  <div class="container">
    <div class="section-headlines">
      <h4>项目团队</h4>
      <h2>We are a small team with lots of friends!</h2>
      <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/1.jpg' %}"></div>
          <div class="team_body">
            <h5>John Donga</h5>
            <h6>Product Manager</h6>
            <p>Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.</p>
            <a title="Facebook" href="javascript:void(0);"><i class="icon-facebook icon-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" icon-twitter icon-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="icon-pinterest icon-2x"></i></a> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/2.jpg' %}"></div>
          <div class="team_body">
            <h5>Alexander Jr.</h5>
            <h6>Senior Developer</h6>
            <p>Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.</p>
            <a title="Facebook" href="javascript:void(0);"><i class="icon-facebook icon-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" icon-twitter icon-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="icon-pinterest icon-2x"></i></a> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/3.jpg' %}"></div>
          <div class="team_body">
            <h5>John Donga</h5>
            <h6>Creative Head</h6>
            <p>Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.</p>
            <a title="Facebook" href="javascript:void(0);"><i class="icon-facebook icon-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" icon-twitter icon-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="icon-pinterest icon-2x"></i></a> </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="team_item">
          <div class="img_block"><img alt="" src="{% static 'images/team/3.jpg' %}"></div>
          <div class="team_body">
            <h5>John Donga</h5>
            <h6>Creative Head</h6>
            <p>Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.</p>
            <a title="Facebook" href="javascript:void(0);"><i class="icon-facebook icon-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" icon-twitter icon-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="icon-pinterest icon-2x"></i></a> </div>
        </div>
      </div>
    </div>

    <!--end:.row-->
  </div>
  <!--end:.container-->
</div>


<div id="jump4" class="jumper"></div>

<!-- Team -->
<div class="section type-2">
  <div class="container">
    <div class="section-headlines">
      <h4>FAQ</h4>
    </div>
    <div class="pricing-plans row">
        <p>Q：什么是RISE？</p>
        <p>A：RISE(Resource Information Shared Economy)是一个面向全球的资源信息共享经济体区块链网络，一个实现真正的对等交易和共享经济的平台，RISE的宗旨是让全民参与进来共同建设共享经济 2.0</p>
        </br>
        <p>Q：什么是ICO？</p>
        <p>A：ICO（英文简称Initial Coin Offering）是一种为加密数字货币/区块链项目筹措资金的常用方式，早期参与者可以从中获得初始产生的加密数字货币作为回报。ico是国际上加密数字货币/区块链社区的产物，为区块链的开发者筹措足够的运营资金，大部分ico筹措的资金都是比特币或者其他加密数字货币。</p>
        </br>
        <p>Q：什么是SEC？</p>
        <p>A：SEC是RISE基于以太坊区块链发行的代币。总量为10亿，ICO公开发售50%。</p>
        </br>
        <p>Q：SEC代币有什么用途？</p>
        <p>A：SEC将在共享经济平台中流通，用做交易支付、信用担保、跨国转账，没有任何手续费，有非常大的升值潜力。</p>
        </br>
        <p>Q：SEC什么时候开始公开发售？</p>
        <p>A：SEC代币ICO公开发售预计在9月1号开始，具体以官网公告为准。在正式公开ICO之前7天，官网会提前开放ICO限额预售功能，目的是为了防止少数大户垄断行为，让更多的人公平的参与进来。</p>
        </br>
        <p>Q：ICO募集的资金将用于哪些范围？</p>
        <p>A：RISE资源信息共享经济区块链网络的开发、共享经济项目的落地推广、海外业务的拓展与开发团队扩增，以及相关运营、法律、方案设计。</p></p>
        </br>
        <p>Q：SEC将在哪些平台公开ICO？</p>
        <p>A：目前未定。</p>
    </div>
    <!--end:.pricing-table-->

  </div>
</div>

<div id="jump5" class="jumper"></div>
<!-- Testimonials -->
<div class="section type-1">
<div class="demo">
		<div class="container">
            <div class="section-headlines">
            <h4>ICO时间线</h4>
        </div>
		<div class="row">
		    <div class="col-md-12">
			    <div class="main-timeline">
				    <div class="timeline">
					    <div class="timeline-content">
							<span class="date">
									<span class="day">25<sup>th</sup></span>
									<span class="month">8月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">限额阶段<a href="javascript:;" style="float: right;color: white">点击参与</a></h2>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
						</div>
					</div>

				    <div class="timeline">
					    <div class="timeline-content">
						    <span class="date">
									<span class="day">31<sup>th</sup></span>
									<span class="month">8月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">公募(提前锁定)<a href="javascript:;" style="float: right;color: white">点击参与</a></h2>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
						</div>
					</div>

				    <div class="timeline">
					    <div class="timeline-content">
							<span class="date">
									<span class="day">7<sup>th</sup></span>
									<span class="month">9月</span>
									<span class="year">2017</span>
								</span>
							<h2 class="title">公募(第二阶段)<a href="javascript:;" style="float: right;color: white">点击参与</a></h2>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
						</div>
					</div>

				    <div class="timeline">
					    <div class="timeline-content">
						    <span class="date">
								<span class="day">15<sup>th</sup></span>
								<span class="month">9月</span>
								<span class="year">2017</span>
							</span>
							<h2 class="title">公募(第三阶段)<a href="javascript:;" style="float: right;color: white">点击参与</a></h2>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
						</div>
					</div>
			    </div>
			</div>
		</div>
		</div>
	</div>

</div>

<!-- Subscription -->
<section class="section type-4 email-susbscription">

  <div class="container">
    <div class="row">
    <div class="col-lg-3">
    	<img width="200" height="180" src="images/email.png" alt="email">
    </div>

    <div class="col-lg-9">
    <h1>Subscribe to our newsletter and never miss any update!</h1>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur sedits aut odit fugit, sed quia magni dolores eos qui ratione sequi nesciunt.</p>

                  <form method="" action="">
                    <p>
                      <input type="email" name="EMAIL" placeholder="Enter your email address">
                      <input type="submit" value="Let's get started!" class="btn btn-primary">
                    </p>
                  </form>
    </div>


    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{% include 'common/footer.html' %}
{% endblock %}
</body>
</html>