
{% extends 'base.html' %}
{% block content %}
 <div class="section type-1 section-contact">
  <div class="container">
    <div class="section-headlines">
      <h4>
      欢迎加入
      </h4>
      <h2>Let's have a coffee</h2>
    </div>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-4">
    <form role="form" action="" method="post" role="form" id="contac_form" name="contact_form">
        {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="email" name="email" placeholder="Your Name *">
            <br class="gap-15"/>
            <input type="text" class="form-control" id="pass1" name="password" placeholder="Your Password *">
              <br class="gap-15"/>
            <input type="text" class="form-control" id="pass2" name="password2" placeholder="Your Password again *">
              <br class="gap-15"/>
              <button id="button-send" class="btn btn-block btn-success">Signup </button>
          </div>
        </div>
      </div>
    </form>
	<div id="success">Your message has been successfully!</div>
	<div id="error">Unable to send your message, please try later.</div>
  </div>
</div>

</div>
</div>
{% endblock %}