{% load staticfiles %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">2017 RISChain © All rights reserved. </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="setpassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">设置资金密码</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="setpass-form">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="safepass1" name="safepass1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">确认密码:</label>
             <div class="col-sm-10">
              <input type="password" class="form-control" id="safepass2" name="safepass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="setpass">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changepassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">更改密码</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="changesp-form">
            {% csrf_token %}
            <input type="hidden" value="0" name="type" id="changeType">
            <div class="form-group">
            <label class="col-sm-2 control-label">原始密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="oldpass" name="oldpass">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">新密码:</label>
           <div class="col-sm-10">
              <input type="password" class="form-control" id="newpass1" name="newpass1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">确认密码:</label>
              <div class="col-sm-10">
              <input type="password" class="form-control" id="newpass2" name="newpass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="changesp">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加新币址</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" id="address-form">
              {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">备注名称:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="remark">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">币种:</label>
            <div class="col-sm-10">
              <select class="form-control" name="type">
                  <option value="1">BTC</option>
                  <option value="2">ETH</option>
                  <option value="3">RIS</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">提币地址:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="addr">
            </div>
          </div>
           <div class="form-group">
            <label  class="col-sm-2 control-label">邮箱验证:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="code">
            </div>
               <button type="button" class="btn btn-success col-sm-2 form-group sendCode">发送验证码</button>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">资金密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="pass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="add-address">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tbModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">资金提现</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" id="tb-form">
              {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">提币地址:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tbaddr" name="tbdz" disabled="true">
            <input type="hidden" name="tbtype">
                <label class=" control-label"><span style="color: red;display: none;float: right" id="type-btc">BTC地址</span><span style="color: red;display: none;float: right" id="type-eth">ETH地址</span><span style="color: red;display: none;float: right" id="type-sec">RIS</span></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">提币数量:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="tbcount" placeholder="">
              <label class=" control-label">可提现最大金额（含手续费）：<span style="color: red;display: none;float: right" id="balance-btc">BTC {% for data in btcczdz%}{{ data.money }}{% endfor %}</span><span style="color: red;display: none;float: right" id="balance-eth">ETH {% for data in ethczdz%}{{ data.money }}{% endfor %}</span><span style="color: red;display: none;float: right" id="balance-sec">RIS {% for data in risczdz%}{{ data.money }}{% endfor %}</span></label>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">网络手续费:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="tbfee" placeholder="">
            </div>
          </div>
           <div class="form-group">
            <label  class="col-sm-2 control-label">邮箱验证:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="tbcode">
            </div>
               <button type="button" class="btn btn-success col-sm-2 form-group sendCode">发送验证码</button>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">资金密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="tbpass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="tbsubmit">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="icoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="icotype"></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="ico-form">
            {% csrf_token %}
          <div class="form-group">
            <input type="hidden" value="" name="icoStep" id="icoStep">
            <label class="col-sm-2 control-label">锁定数额:</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="money" id="ico-money">
                <label class="control-label">可用金额：<span style="color: red;float: right;display: none" id="balance-icobtc">BTC {% for data in btcczdz%}{{ data.money }}{% endfor %}</span><span style="color: red;float: right;display: none" id="balance-icoeth">ETH {% for data in ethczdz%}{{ data.money }}{% endfor %}</span></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">资金密码:</label>
             <div class="col-sm-10">
              <input type="password" class="form-control" name="safepass">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="icosubmit">提交</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'scripts/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static 'scripts/mixitup/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'scripts/Chart.bundle.js' %}"></script>
<script src="{% static 'scripts/theme.js' %}"></script>

<script>
    $('.changesp').click(function () {
        $("#changeType").val("2");
    })
    $('.changep').click(function () {
        $("#changeType").val("1");
    })
    $('#change').click(function () {
        $("#login-div").hide();
        $("#signup-div").show();
    })
    $('#change2').click(function () {
        $("#login-div").show();
        $("#signup-div").hide();
    })
    $("a[name='ico-lock']").click(function () {
        var isLogin = $("#checkLogin").val();
        if(isLogin == 0){
            alert("请先登录");
            return false;
        }
        var icotype = $(this).attr('id');
        $("#icoStep").val(icotype);
        var type = icotype.split("-");
        if(type[0] == "step1") {
            $("#icotype").text("私募阶段 ");
        } else if(type[0] == "step2"){
            $("#icotype").text("ICO提前锁定阶段");
        }else if(type[0] == "step2"){
            $("#icotype").text("公开ICO阶段");
        }
        if(type[1] == "btc"){
            $("#balance-icobtc").css('display','block');
            $("#balance-icoeth").css('display','none');
        }else if(type[1] == "eth"){
            $("#balance-icobtc").css('display','none');
            $("#balance-icoeth").css('display','block');
        }
    })

    $("#tbdz-table tr td a").click(function () {
        var addr = $(this).parent().parent().find("td:eq(1)").text();
        var type = $(this).parent().parent().find("td:eq(2)").text();
        if(type == 'BTC'){
            $("#balance-btc").css('display','block');
            $("#balance-eth").css('display','none');
            $("#balance-sec").css('display','none');
            $("#type-btc").css('display','block');
            $("#type-eth").css('display','none');
            $("#type-sec").css('display','none');
            $("input[name='tbcount']").attr("placeholder","最低提0.01");
            $("input[name='tbfee']").attr("placeholder","网络手续费最低0.0009BTC");
            $("input[name='tbtype']").val("1");
        } else if(type == "ETH"){
            $("#balance-btc").css('display','none');
            $("#balance-eth").css('display','block');
            $("#balance-sec").css('display','none');
            $("#type-btc").css('display','none');
            $("#type-eth").css('display','block');
            $("#type-sec").css('display','none');
            $("input[name='tbcount']").attr("placeholder","最低提0.1");
            $("input[name='tbfee']").attr("placeholder","网络手续费最低0.01ETH");
            $("input[name='tbtype']").val("2");
        }
        else if(type == "RIS"){
            $("#balance-btc").css('display','none');
            $("#balance-eth").css('display','none');
            $("#balance-sec").css('display','block');
            $("#type-btc").css('display','none');
            $("#type-eth").css('display','none');
            $("#type-sec").css('display','block');
            $("input[name='tbcount']").attr("placeholder","最低提0.1");
            $("input[name='tbfee']").attr("placeholder","网络手续费最低0.01RIS");
            $("input[name='tbtype']").val("3");
        }
        $("#tbaddr").val(addr);
    })
    $("#join-us").click(function () {
        if (status == 1){
            $("#login-div").show();
            $("#join-status").val("2");
        }
    })

    $("#loginBtn").click(function () {
        var user = $("#user").val();
        var pass = $("#pass").val();
        if(user === "" || pass === ""){
            alert("请输入账号密码");
            return;
        }
        var user = $("#join-status").val("2");
        var data = $("#login-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'login' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("登录成功！");
                    location.href = '/';
                }
                else if(result == "2"){
                    alert("登录失败！");
                }
                else if(result == "3"){
                    alert("账号或密码错误！");
                }
                else if(result == "4"){
                    alert("验证失败！");
                }
            },
        });
    })

    $("#signupBtn").click(function () {
        var reg =  /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        var email = $("#email").val();
        if (!reg.test(email)){
            alert("邮箱格式不正确！");
            return false;
        }
        var pass1 = $("#pass1").val();
        var pass2 = $("#pass2").val();
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#signup-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'register' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("用户邮箱已经存在！")
                }
                else if(result == "2"){
                    alert("注册成功！");
                    location.href = '/';
                }
            },
        });
    })
    $("#setpass").click(function () {
        var pass1 = $("#safepass1").val();
        var pass2 = $("#safepass2").val();
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#setpass-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'setsafepass' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("设置成功");
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
            },
        });
    })
    $("#changesp").click(function () {
        var oldpass = $("#oldpass").val();
        if (oldpass == ""){
            alert("请输入原始密码!");
            return false;
        }
        var pass1 = $("#newpass1").val();
        if(pass1 == ""){
            alert("请输入新密码!");
            return false;
        }
        var pass2 = $("#newpass2").val();
        if(pass2 == ""){
            alert("请输入确认密码!");
            return false;
        }
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#changesp-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'changepass' %}",
            data: data,
            success: function (result) {
                if (result == "2"){
                    alert("原始密码不正确");
                }
                else if (result == "1"){
                    alert("更改成功");
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
                else if(result == "3"){
                    alert("未知错误");
                }
            },
        });
    })

    $("#checkMail").click(function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'checkmail' %}",
            success: function (result) {
                if (result == "1"){
                    alert("激活邮件发送成功，请登录邮箱进行激活");
                }
            },
        });
    })
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    $(".sendCode").click(function () {
        curCount = count;
        $(this).attr('disabled',true);
        $(this).text("("+curCount + ")s");
        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        $.ajax({
            type: 'POST',
            url: "{% url 'sendcode' %}",
            success: function (result) {
                if (result == "1"){
                    alert("验证码发送成功");
                }
            },
        });
    })
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $(".sendCode").removeAttr("disabled");//启用按钮
            $(".sendCode").text("发送验证码");
        }
        else {
            curCount--;
            $(".sendCode").text("("+curCount + ")s");
        }
    }
    $("#add-address").click(function () {
        var remark = $("input[name='remark']").val();
        if(remark == ""){
            alert("请填写备注名称");
            return false;
        }
        var addr = $("input[name='addr']").val();
        var code = $("input[name='code']").val();
        var pass2 = $("input[name='pass2']").val();
        if(addr === "" || code === "" || pass2 === ""){
            return;
        }
        var data = $("#address-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'addaddress' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("添加成功");
                    location.href = '/';
                }else if(result == "2"){
                    alert("资金密码错误");
                }
                else if(result == "3"){
                    alert("验证码不正确");
                }
            },
        });
    })
    $("#tbsubmit").click(function () {
        var count = $("input[name='tbcount']").val();
        var fee = $("input[name='tbfee']").val();
        var code = $("input[name='tbcode']").val();
        var pass2 = $("input[name='tbpass2']").val();
        var tbdz = $("input[name='tbdz']").val();
        if(count === "" || fee === "" || code === "" || pass2 === ""){
            return;
        }
        if(isNaN(count) || isNaN(fee)){
            alert("金额不正确");
            return;
        }
        var type = $("input[name='tbtype']").val();
        if(type == 1 && count < 0.01){
            alert("低于最低提币数量");
            return;
        }else if(type == 2 && count < 0.1){
            alert("低于最低提币数量");
            return;
        }else if(type == 3 && count < 0.1){
            alert("低于最低提币数量");
            return;
        }
        if(type == 1 && fee < 0.0009){
            alert("网络手续费最低0.0009");
            return;
        }else if(type == 2 && fee < 0.01){
            alert("网络手续费最低0.01");
            return;
        }else if(type == 3 && fee < 0.01){
            alert("网络手续费最低0.01");
            return;
        }

        var data = $("#tb-form").serialize();
        data += "&tbdz="+tbdz;
        $.ajax({
            type: 'POST',
            url: "{% url 'tibi' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("提交成功");
                    location.href = '/';
                }else if(result == "2"){
                    alert("资金密码错误");
                }
                else if(result == "3"){
                    alert("验证码不正确");
                }
                else if(result == "4"){
                    alert("提取数额大于可用余额")
                }
            },
        });
    })
    $(".cancel-tb").click(function () {
        var ret = window.confirm("确定取消吗?");
        if(ret) {
            return true;
        }
        else{
            return false;
        }
    })
    $("#icosubmit").click(function () {
        var money = $("#ico-money").val();
        if(money === ""){
            alert("请填写金额");
            return;
        }
        if(isNaN(money)){
            alert("金额不正确");
            return;
        }
        var icotype = $("#icoStep").val();
        var type = icotype.split("-");
        if(type[0] == 'step1'){
            if(type[1] == 'btc'){
                if(money > 20 || money < 1){
                    alert("金额不在限额范围内");
                    return;
                }
            }else if(type[1] == 'eth'){
                if(money > 200 || money < 10){
                    alert("金额不在限额范围内");
                    return;
                }
            }
        }else{
            if(type[1] == 'btc'){
                if(money > 20 || money < 1){
                    alert("金额不在限额范围内");
                    return;
                }
            }else if(type[1] == 'eth'){
                if(money > 200 || money < 1){
                    alert("金额不在限额范围内");
                    return;
                }
            }
        }
        var data = $("#ico-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'icolock' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("锁定成功");
                    location.href = '/';
                }else if(result == "2"){
                    alert("资金密码错误");
                }
                else if(result == "3"){
                    alert("可用资金不足");
                }
                else if(result == "5"){
                    alert("ICO已经结束");
                }
                else if(result == "0"){
                    alert("未知错误");
                }
            },
        });
    })
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $("#show-info").click(function () {
        $(this).attr("disabled","disabled");
        $.ajax({
            type: 'POST',
            url: "{% url 'showinfo' %}",
            success: function (result) {
                if (result == "1"){
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
            },
        });
    })

    $("#contact-send").click(function () {
        var name = $("#contact-name").val();
        var email = $("#contact-email").val();
        var subject = $("#contact-subject").val();
        var message = $("#contact-message").val();
        if(name === "" || email === "" || subject == "" || message === ""){
            alert("请填写完整信息");
            return false;
        }
        var reg =  /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        if (!reg.test(email)){
            alert("邮箱格式不正确！");
            return false;
        }
        var data = $("#contac-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'contact' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("提交成功");
                    $("#contact-name").val("");
                    $("#contact-email").val("");
                    $("#contact-subject").val("");
                    $("#contact-message").val("");
                }
                else if(result == "0"){
                    location.href = '/';
                }
            },
        });
    })

    function logout() {
        location.href = '/logout';
    }

    function changeLang() {
        document.getElementById("langForm").submit();
    }

</script>
<script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    45,
                    8,
                    10,
                    32,
                    5,
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "公开售卖",
                "投资人",
                "落地拓展",
                "挖矿",
                "基金"
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };
</script>