{% load staticfiles %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">Portefeuille  &copy; - Free One Page Website Template More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="setpassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">设置资金密码</h4>
      </div>
      <div class="modal-body">
        <form id="setpass-form">
            {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="control-label">密码:</label>
            <input type="password" class="form-control" id="safepass1" name="safepass1">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">确认密码:</label>
            <input type="password" class="form-control" id="safepass2" name="safepass2">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="setpass">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changepassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">更改密码</h4>
      </div>
      <div class="modal-body">
        <form id="changesp-form">
            {% csrf_token %}
            <input type="hidden" value="0" name="type" id="changeType">
            <div class="form-group">
            <label for="recipient-name" class="control-label">原始密码:</label>
            <input type="password" class="form-control" id="oldpass" name="oldpass">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">新密码:</label>
            <input type="password" class="form-control" id="newpass1" name="newpass1">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">确认密码:</label>
            <input type="password" class="form-control" id="newpass2" name="newpass2">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="changesp">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加新币址</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" id="address-form">
              {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">备注名称:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="remark">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">币种:</label>
            <div class="col-sm-10">
              <select class="form-control" name="type">
                  <option value="1">BTC</option>
                  <option value="2">ETH</option>
                  <option value="3">SEC</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">提币地址:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="addr">
            </div>
          </div>
           <div class="form-group">
            <label  class="col-sm-2 control-label">邮箱验证:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="code">
            </div>
               <button type="button" class="btn btn-success col-sm-2 form-group sendCode">发送验证码</button>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">资金密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="pass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="add-address">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tbModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">资金提现</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" id="tb-form">
              {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">提币地址:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tbaddr" name="addr" disabled="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">提币数量:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="count">
              <label class=" control-label">可提现最大金额（含手续费）：<span style="color: red;display: none;float: right" id="balance-btc">BTC{% for data in czdz%}{{ data.money }}{% endfor %}</span><span style="color: red;display: none;float: right" id="balance-eth">ETH{% for data in czdz%}{{ data.money }}{% endfor %}</span><span style="color: red;display: none;float: right" id="balance-sec">SEC{% for data in czdz%}{{ data.money }}{% endfor %}</span></label>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">网络手续费:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="fee" placeholder="">
            </div>
          </div>
           <div class="form-group">
            <label  class="col-sm-2 control-label">邮箱验证:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="code">
            </div>
               <button type="button" class="btn btn-success col-sm-2 form-group sendCode">发送验证码</button>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">资金密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="pass2">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="tbsubmit">提交</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'scripts/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static 'scripts/mixitup/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'scripts/Chart.bundle.js' %}"></script>
<script src="{% static 'scripts/theme.js' %}"></script>
<script>
    $('.changesp').click(function () {
        $("#changeType").val("2");
    })
    $('.changep').click(function () {
        $("#changeType").val("1");
    })
    $('#change').click(function () {
        $("#login-div").hide();
        $("#signup-div").show();
    })
    $('#change2').click(function () {
        $("#login-div").show();
        $("#signup-div").hide();
    })
    $("#tbdz-table tr td a").click(function () {
        var addr = $(this).parent().parent().find("td:eq(1)").text();
        var type = $(this).parent().parent().find("td:eq(2)").text();
        if(type == 'BTC'){
            $("#balance-btc").css('display','block');
            $("#balance-eth").css('display','none');
            $("#balance-sec").css('display','none');
            $("input[name='fee']").attr("placeholder","网络手续费最低0.01BTC")
        } else if(type == "ETH"){
            $("#balance-btc").css('display','none');
            $("#balance-eth").css('display','block');
            $("#balance-sec").css('display','none');
            $("input[name='fee']").attr("placeholder","网络手续费最低0.01ETH")
        } else if(type == "SEC"){
            $("#balance-btc").css('display','none');
            $("#balance-eth").css('display','none');
            $("#balance-sec").css('display','block');
            $("input[name='fee']").attr("placeholder","网络手续费最低0.01SEC")
        }
        $("#tbaddr").val(addr);
    })
    $("#join-us").click(function () {
        var status = $("#join-status").val();
        if (status == 1){
            $("#login-div").show();
            $("#join-status").val("2");
        }
    })

    $("#loginBtn").click(function () {
        var data = $("#login-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'login' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("登录成功！");
                    location.href = '/';
                }
                else if(result == "2"){
                    alert("登录失败！");
                }
                else if(result == "3"){
                    alert("账号或密码错误！");
                }
                else if(result == "4"){
                    alert("验证失败！");
                }
            },
        });
    })

    $("#signupBtn").click(function () {
        var reg =  /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        var email = $("#email").val();
        if (!reg.test(email)){
            alert("邮箱格式不正确！");
            return false;
        }
        var pass1 = $("#pass1").val();
        var pass2 = $("#pass2").val();
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#signup-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'register' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("用户邮箱已经存在！")
                }
                else if(result == "2"){
                    alert("注册成功！");
                    location.href = '/';
                }
            },
        });
    })
    $("#setpass").click(function () {
        var pass1 = $("#safepass1").val();
        var pass2 = $("#safepass2").val();
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#setpass-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'setsafepass' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("设置成功");
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
            },
        });
    })
    $("#changesp").click(function () {
        var oldpass = $("#oldpass").val();
        if (oldpass == ""){
            alert("请输入原始密码!");
            return false;
        }
        var pass1 = $("#newpass1").val();
        if(pass1 == ""){
            alert("请输入新密码!");
            return false;
        }
        var pass2 = $("#newpass2").val();
        if(pass2 == ""){
            alert("请输入确认密码!");
            return false;
        }
        if(pass1 != pass2){
            alert("两次密码输入不一样,请重新输入!");
            return false;
        }
        var data = $("#changesp-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'changepass' %}",
            data: data,
            success: function (result) {
                if (result == "2"){
                    alert("原始密码不正确");
                }
                else if (result == "1"){
                    alert("更改成功");
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
                else if(result == "3"){
                    alert("未知错误");
                }
            },
        });
    })

    $("#checkMail").click(function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'checkmail' %}",
            success: function (result) {
                if (result == "1"){
                    alert("激活邮件发送成功，请登录邮箱进行激活");
                }
            },
        });
    })
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    $(".sendCode").click(function () {
        curCount = count;
        $(this).attr('disabled',true);
        $(this).text("("+curCount + ")s");
        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        $.ajax({
            type: 'POST',
            url: "{% url 'sendcode' %}",
            success: function (result) {
                if (result == "1"){
                    alert("验证码发送成功");
                }
            },
        });
    })
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $(".sendCode").removeAttr("disabled");//启用按钮
            $(".sendCode").text("发送验证码");
        }
        else {
            curCount--;
            $(".sendCode").text("("+curCount + ")s");
        }
    }
    $("#add-address").click(function () {
        var remark = $("input[name='remark']").val();
        if(remark == ""){
            alert("请填写备注名称");
            return false;
        }
        var addr = $("input[name='addr']").val();
        var code = $("input[name='code']").val();
        var pass2 = $("input[name='pass2']").val();
        if(addr === "" || code === "" || pass2 === ""){
            return;
        }
        var data = $("#address-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'addaddress' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("添加成功");
                    location.href = '/';
                }else if(result == "2"){
                    alert("资金密码错误");
                }
                else if(result == "3"){
                    alert("验证码不正确");
                }
            },
        });
    })
    $("#tbsubmit").click(function () {
        var count = $("input[name='count']").val();
        var fee = $("input[name='fee']").val();
        var code = $("input[name='code']").val();
        var pass2 = $("input[name='pass2']").val();
        if(count === "" || fee === "" || code === "" || pass2 === ""){
            return;
        }
        var data = $("#tb-form").serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'tibi' %}",
            data: data,
            success: function (result) {
                if (result == "1"){
                    alert("提交成功");
                    location.href = '/';
                }else if(result == "2"){
                    alert("资金密码错误");
                }
                else if(result == "3"){
                    alert("验证码不正确");
                }
            },
        });
    })
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $("#show-info").click(function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'showinfo' %}",
            success: function (result) {
                if (result == "1"){
                    location.href = '/';
                }
                else if(result == "0"){
                    location.href = '/';
                }
            },
        });
    })

    function logout() {
        location.href = '/logout';
    }

    function changeLang() {
        document.getElementById("langForm").submit();
    }

</script>
<script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    50,
                    20,
                    10,
                    5,
                    15,
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "ICO",
                "开发团队",
                "私募投资人",
                "市场推广，商业落地",
                "Pos锁仓奖励"
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };
</script>