{% load staticfiles %}
<link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet' type='text/css'>
<link type="text/css" href="{% static 'icons/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'icons/rondo/style.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/theme.css' %}" rel="stylesheet">